.banner .block--banner {
  position: relative;
}
.banner .block--banner .list--banner {
  position: relative;
  overflow: hidden;
  height: 620px;
  clip-path: polygon(0 0, 100% 0, 100% 92%, 50% 100%, 0 92%);
}
@media screen and (max-width: 768px) {
  .banner .block--banner .list--banner {
    height: 580px;
  }
}
.banner .block--banner .list--banner::after {
  content: "";
  position: absolute;
  inset: 0;
  clip-path: polygon(0 0, 100% 0, 100% 92%, 50% 100%, 0 92%);
  background: white;
  z-index: 2;
}
.banner .block--banner .list--banner__item {
  position: absolute;
  inset: 0;
  transition: all 0.3s linear;
}
.banner .block--banner .list--banner__item .banner--img {
  position: relative;
  height: 100%;
}
.banner .block--banner .list--banner__item .banner--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner .block--banner .list--banner__item .banner--img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}
.banner
  .block--banner
  .list--banner__item
  .container--banner.custom--containerContentBanner {
  top: 220px;
}
.banner .block--banner .list--banner__item .content--banner {
  position: absolute;
  color: white;
  width: 60%;
  padding-left: 55px;
}
@media screen and (max-width: 768px) {
  .banner .block--banner .list--banner__item .content--banner {
    padding-left: 0;
  }
}
.banner .block--banner .list--banner__item .content--banner__top {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
}
.banner .block--banner .list--banner__item .content--banner__title {
  margin-top: 12px;
}
.banner .block--banner .list--banner__item .content--banner__content {
  margin-top: 12px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.banner .block--banner .list--banner__item .content--banner__seemore {
  --size-icon: 12px;
  --gap-icon: 10px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 10px 16px;
  margin-top: 16px;
  background: rgb(128, 22, 24);
  color: white;
  border: 1.5px solid transparent;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  background: linear-gradient(rgb(128, 22, 24), rgb(128, 22, 24)) padding-box,
    linear-gradient(
        45deg,
        rgb(159, 161, 163),
        rgb(255, 255, 255),
        rgb(203, 204, 205)
      )
      border-box;
  cursor: pointer;
  transition: all 0.2s linear;
}
.banner
  .block--banner
  .list--banner__item
  .content--banner__seemore:hover
  .box--icon
  .slide--icon {
  transform: translateX(calc(var(--size-icon) + var(--gap-icon)));
}
.banner .block--banner .list--banner__item .content--banner__seemore:hover {
  background: linear-gradient(black, black) padding-box,
    linear-gradient(
        45deg,
        rgb(159, 161, 163),
        rgb(255, 255, 255),
        rgb(203, 204, 205)
      )
      border-box;
}
.banner
  .block--banner
  .list--banner__item
  .content--banner__seemore
  .box--icon {
  position: relative;
  width: var(--size-icon);
  height: var(--size-icon);
  overflow: hidden;
}
.banner
  .block--banner
  .list--banner__item
  .content--banner__seemore
  .box--icon
  .slide--icon {
  position: absolute;
  right: 0;
  display: flex;
  column-gap: var(--gap-icon);
  transition: all 0.2s linear;
}
.banner
  .block--banner
  .list--banner__item
  .content--banner__seemore
  .box--icon
  .slide--icon
  svg {
  width: var(--size-icon);
  height: var(--size-icon);
  stroke: white;
  stroke-width: 2px;
}
.banner .block--banner .bg--bannerTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 212px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  z-index: 2;
}
.banner .block--banner .container--banner.custom--containerListControl {
  bottom: 80px;
}
.banner .block--banner .list--control {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: end;
  column-gap: 20px;
  padding: 0 55px;
}
@media screen and (max-width: 768px) {
  .banner .block--banner .list--control {
    padding: 0;
  }
}
.banner .block--banner .list--control__item {
  height: max-content;
  padding: 12px 0;
  border-bottom: 2px solid rgb(235, 35, 41);
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .banner .block--banner .list--control__item {
    padding: 8px 0;
  }
}
@media screen and (max-width: 768px) {
  .banner .block--banner .list--control__item span {
    display: none;
  }
}
.banner .block--banner .container--banner.custom--containerPrevNext {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .banner .block--banner .container--banner.custom--containerPrevNext {
    display: none;
  }
}
.banner .block--banner .control--banner {
  display: flex;
  justify-content: space-between;
}
.banner .block--banner .control--banner .block--btn__next,
.banner .block--banner .control--banner .block--btn__prev {
  display: inline-block;
}
.banner .block--banner .control--banner .btn--next,
.banner .block--banner .control--banner .btn--right {
  transform: rotate(45deg);
}
.banner .block--banner .control--banner .block--btn__next {
  left: -32px;
}
.banner .block--banner .control--banner .block--btn__prev {
  right: -32px;
}

.section--bannerFooter {
  margin-top: 40px;
}
.section--bannerFooter .banner--footer {
  position: relative;
}
.section--bannerFooter .banner--footer .banner--img img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.section--bannerFooter .banner--footer .content--banner {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  color: white;
}
.section--bannerFooter .banner--footer .content--banner__title {
  font-size: 2.8rem;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 768px) {
  .section--bannerFooter .banner--footer .content--banner__title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 576px) {
  .section--bannerFooter .banner--footer .content--banner__title {
    font-size: 1.6rem;
  }
}
.section--bannerFooter .banner--footer .content--banner__mainContent {
  font-size: 1.6rem;
  margin-top: 16px;
  line-height: 1.38;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 768px) {
  .section--bannerFooter .banner--footer .content--banner__mainContent {
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 12px;
  }
}
@media screen and (max-width: 576px) {
  .section--bannerFooter .banner--footer .content--banner__mainContent {
    font-size: 1.2rem;
  }
}
.section--bannerFooter .banner--footer .content--banner__btn {
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .section--bannerFooter .banner--footer .content--banner__btn {
    margin-top: 20px;
  }
}
