* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Archivo", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.container-xl {
  width: 100%;
  max-width: 1320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .container-xl {
    max-width: 1140px;
  }
}

.container-fluid {
  max-width: 100%;
}

.container-lg {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (max-width: 1200px) {
  .container-lg {
    max-width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .container-lg {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .container-lg {
    max-width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .container-lg {
    max-width: 100%;
  }
}

.container--banner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1140px;
  max-width: 100%;
  padding: 0 16px;
}
@media screen and (max-width: 1200px) {
  .container--banner {
    width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .container--banner {
    width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .container--banner {
    width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .container--banner {
    width: 100%;
  }
}

.uppercase {
  text-transform: uppercase;
}

.title--text {
  font-weight: 500;
}

.btn--arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  border-radius: 4px;
  transition: background 0.2s linear;
  cursor: pointer;
}
.btn--arrow svg {
  transform: rotate(-45deg);
  width: 12px;
  height: 12px;
  transition: stroke 0.2s linear;
}
@media screen and (max-width: 768px) {
  .btn--arrow {
    width: 28px;
    height: 28px;
  }
  .btn--arrow svg {
    width: 10px;
    height: 10px;
  }
}

.btn--arrow.bgRgbBlack {
  background: rgba(0, 0, 0, 0.2);
}
.btn--arrow.bgRgbBlack:hover {
  background: rgb(128, 22, 24);
}
.btn--arrow.bgRgbBlack svg {
  stroke: white;
}

.btn--arrow.bdRed {
  background: white;
  border: 1.5px solid rgb(128, 22, 24);
}
.btn--arrow.bdRed:hover {
  background: rgb(128, 22, 24);
}
.btn--arrow.bdRed:hover svg {
  stroke: white;
}
.btn--arrow.bdRed svg {
  stroke: rgb(128, 22, 24);
  stroke-width: 1.5px;
}

.btn--arrow.bdWhite {
  border: 1.5px solid white;
}
.btn--arrow.bdWhite:hover {
  background: white;
}
.btn--arrow.bdWhite:hover svg {
  stroke: rgb(128, 22, 24);
}
.btn--arrow.bdWhite svg {
  stroke: white;
  stroke-width: 1.5px;
}

.blockBtn-conentArrow {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.blockBtn-conentArrow span {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.bg--section {
  padding: 40px 0 80px;
  background: rgb(243, 243, 243);
  clip-path: polygon(0 0, 100% 0, 100% 92%, 50% 100%, 0 92%);
}

.alignCenter {
  display: flex;
  justify-content: center;
}

.title--session {
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .title--session {
    font-size: 2.4rem;
  }
}

.text--center {
  text-align: center;
}

.title--font28 {
  font-size: 2.8rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .title--font28 {
    font-size: 2.4rem;
  }
}
