.section--news {
  margin-top: 40px;
}
.section--news .news .list--news {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  margin-top: 24px;
  column-gap: 20px;
  padding: 0 55px;
}
@media screen and (max-width: 768px) {
  .section--news .news .list--news {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
  }
  .section--news .news .list--news__item:first-child {
    display: none;
  }
}
.section--news .news .list--news__item .news--thumnail {
  position: relative;
  overflow: hidden;
}
.section--news .news .list--news__item .news--thumnail:hover img {
  transform: translate(-50%, -50%) scale(1.05);
}
.section--news .news .list--news__item .news--thumnail::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.section--news .news .list--news__item .news--thumnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s linear;
  will-change: transform;
}
.section--news .news .list--news__item .news--info {
  margin-top: 12px;
}
.section--news .news .list--news__item .news--info .news--time {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.section--news .news .list--news__item .news--info .news--time__icon {
  width: 14px;
  height: 14px;
  stroke: rgb(129, 129, 129);
}
.section--news .news .list--news__item .news--info .news--time__content {
  color: rgb(129, 129, 129);
  font-size: 1.2rem;
}
.section--news .news .list--news__item .news--info__name {
  margin-top: 8px;
  font-size: 1.4rem;
  line-height: 1.38;
  font-weight: 600;
}
.section--news .news .list--news__item .news--info__name a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s linear;
  height: 4.06rem;
}
.section--news .news .list--news__item .news--info__name a:hover {
  color: rgb(128, 22, 24);
  font-size: 1.45rem;
  text-decoration: underline;
}
.section--news .news .list--news .block--btn__next,
.section--news .news .list--news .block--btn__prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.section--news .news .list--news .block--btn__next {
  left: 0;
}
.section--news .news .list--news .block--btn__prev {
  right: 0;
}
.section--news .news .list--news .news--next,
.section--news .news .list--news .news--prev {
  transform: rotate(45deg);
}
.section--news .news .list--news .news--prev {
  float: right;
}
.section--news .news .mr--btnListNews {
  margin-top: 24px;
}
