.office--location {
  margin-top: 40px;
}
.office--location .slide--officeLocation {
  --heightPolygonItem: 102px;
}
@media screen and (max-width: 768px) {
  .office--location .slide--officeLocation {
    width: 100%;
    mask-image: linear-gradient(
      to right,
      transparent,
      #000 10% 90%,
      transparent
    );
    overflow: hidden;
    height: var(--heightPolygonItem);
    margin-top: 24px;
  }
}
.polygon--img_zoom {
  transition: transform 0.3s ease-in-out;
  transform-origin: center center;
}

.polygon--img_zoom.zoom-in {
  transform: translate(-50%, -50%) scale(1.2);
}
.office--location
  .slide--officeLocation:hover
  .block--polygon
  .block--polygon__item {
  animation-play-state: paused;
}
.office--location .block--polygon {
  --width: 310px;
  --quantity: 6;
  --heightPolygon: 410px;
  --positionPolygonItem: 64px;
  --spacePoligonItemMobile: 20px;
  margin: calc(var(--heightPolygonItem) - var(--positionPolygonItem) + 24px) 0
    calc(var(--heightPolygonItem) - var(--positionPolygonItem));
  position: relative;
}
@media screen and (max-width: 992px) {
  .office--location .block--polygon {
    --heightPolygon: 320px;
    --heightPolygonItem: 82px;
    --positionPolygonItem: 62px;
  }
}
@media screen and (max-width: 768px) {
  .office--location .block--polygon {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    --heightPolygonItem: 92px;
    margin: 0;
  }
}
.office--location .block--polygon__item {
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 20px;
  z-index: 6;
}
@media screen and (max-width: 768px) {
  .office--location .block--polygon__item {
    width: var(--width);
    animation: autoRun 20s linear infinite;
    animation-delay: calc(20s / var(--quantity) * (var(--position) - 1) - 20s);
  }
}
@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
.office--location .block--polygon__item.orderContentLeft {
  order: 2;
}
@media screen and (max-width: 768px) {
  .office--location .block--polygon__item.orderContentLeft {
    order: unset;
    align-items: center;
  }
}
.office--location .block--polygon__item.orderContentLeft .polygon--img {
  order: 2;
}
@media screen and (max-width: 768px) {
  .office--location .block--polygon__item.orderContentLeft .polygon--img {
    order: unset;
  }
}
.office--location .block--polygon__item.orderContentLeft .polygon--info {
  order: 1;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .office--location .block--polygon__item.orderContentLeft .polygon--info {
    order: unset;
    text-align: left;
  }
}
.office--location .block--polygon__item .polygon--img {
  flex: 0 0 calc(var(--heightPolygonItem) - 14px);
  width: calc(var(--heightPolygonItem) - 14px);
  height: var(--heightPolygonItem);
}
.office--location .block--polygon__item .polygon--info {
  min-width: 190px;
}
@media screen and (max-width: 768px) {
  .office--location .block--polygon__item .polygon--info {
    min-width: unset;
    flex-grow: 1;
  }
}
.office--location .block--polygon__item .polygon--info__title {
  margin-top: 20px;
  font-size: 2.4rem;
  color: rgb(128, 22, 24);
  font-weight: 600;
}
@media screen and (max-width: 992px) {
  .office--location .block--polygon__item .polygon--info__title {
    font-size: 1.4rem;
  }
}
.office--location .block--polygon__item .polygon--info__content {
  margin-top: 8px;
  margin-left: 6px;
  line-height: 1.36;
  font-size: 1.2rem;
  height: 2.8em;
}
.office--location .block--polygon__item:nth-child(1) {
  left: 50%;
  bottom: calc(100% - var(--positionPolygonItem));
  transform: translateX(calc((var(--heightPolygonItem) - 14px) / -2));
}
@media screen and (max-width: 768px) {
  .office--location .block--polygon__item:nth-child(1) {
    bottom: unset;
    left: 100%;
    transform: unset;
  }
}
.office--location .block--polygon__item:nth-child(2) {
  left: calc(100% - var(--positionPolygonItem));
  top: calc(var(--positionPolygonItem) - 8px);
}
@media screen and (max-width: 768px) {
  .office--location .block--polygon__item:nth-child(2) {
    top: unset;
    left: 100%;
  }
}
.office--location .block--polygon__item:nth-child(3) {
  left: calc(100% - var(--positionPolygonItem));
  bottom: calc(var(--positionPolygonItem) - 8px);
}
@media screen and (max-width: 768px) {
  .office--location .block--polygon__item:nth-child(3) {
    left: 100%;
    bottom: unset;
  }
}
.office--location .block--polygon__item:nth-child(4) {
  right: 50%;
  top: calc(100% - var(--positionPolygonItem));
  transform: translateX(calc((var(--heightPolygonItem) - 14px) / 2));
}
@media screen and (max-width: 768px) {
  .office--location .block--polygon__item:nth-child(4) {
    left: 100%;
    top: unset;
    right: unset;
    transform: unset;
  }
}
.office--location .block--polygon__item:nth-child(5) {
  right: calc(100% - var(--positionPolygonItem));
  bottom: calc(var(--positionPolygonItem) - 8px);
}
@media screen and (max-width: 768px) {
  .office--location .block--polygon__item:nth-child(5) {
    left: 100%;
    right: unset;
    bottom: unset;
  }
}
.office--location .block--polygon__item:nth-child(6) {
  right: calc(100% - var(--positionPolygonItem));
  top: calc(var(--positionPolygonItem) - 8px);
}
@media screen and (max-width: 768px) {
  .office--location .block--polygon__item:nth-child(6) {
    left: 100%;
    top: unset;
    right: unset;
  }
}
.office--location .block--polygon .polygon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(50% 0%, 100% 24%, 100% 76%, 50% 100%, 0% 76%, 0 24%);
  width: calc(var(--heightPolygon) - 40px);
  height: var(--heightPolygon);
  background: rgb(128, 22, 24);
}
@media screen and (max-width: 768px) {
  .office--location .block--polygon .polygon {
    display: none;
  }
}
.office--location .block--polygon .polygon::before {
  content: "";
  position: absolute;
  clip-path: polygon(50% 0%, 100% 24%, 100% 76%, 50% 100%, 0% 76%, 0 24%);
  inset: 1.5px;
  background: white;
}
.office--location .block--polygon .polygon__lineDashed {
  position: absolute;
  transform: translate(-50%, -50%);
  width: calc(100% + 70px);
  border: 1.5px dashed rgb(128, 22, 24);
  transform: rotate(var(--rotate));
}
@media screen and (max-width: 768px) {
  .office--location .block--polygon .polygon__lineDashed {
    display: none;
  }
}
.office--location .block--polygon .polygon .polygon--bg {
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(50% 0%, 100% 24%, 100% 76%, 50% 100%, 0% 76%, 0 24%);
  width: calc(var(--heightPolygon) - 212px);
  height: calc(var(--heightPolygon) - 172px);
  background: rgb(239, 239, 239);
}

.office--location .block--polygon .polygon .polygon--bg__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.style--polygonImg {
  position: relative;
  overflow: hidden;
  clip-path: polygon(50% 0%, 100% 24%, 100% 76%, 50% 100%, 0% 76%, 0 24%);
  /* Add a transition to make the zoom smooth */
  transition: transform 0.3s ease-in-out;
}

.style--polygonImg.zoom-in {
  transform: scale(1.1);
}

.style--polygonImg img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  max-height: 100%;
  object-fit: cover;
}
.style--polygonImgCenter img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  max-height: 100%;
  object-fit: cover;
}

.section--facilities {
  margin-top: 40px;
}
.section--facilities .facilities {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 24px;
}
@media screen and (max-width: 768px) {
  .section--facilities .facilities {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
}
.section--facilities .facilities .facilities__info .facilities__title {
  text-align: left;
}
.section--facilities .facilities .facilities__info .facilities__content {
  margin-top: 16px;
  line-height: 1.36;
}
.section--facilities .facilities .facilities__img img {
  max-width: 100%;
  height: auto;
}
